<div class ="navbar navbar-fixed-top">
    <div class ="navbar-inner">
      <div class ="container">
        <div class = "nav">

				<h2>Create User</h2>

				</div>
	  	</div>
	  </div>
	</div>



			
			<%= render :partial => 'form' %>
				
		