<div class ="navbar navbar-fixed-top">
    <div class ="navbar-inner">
      <div class ="container">
        <div class = "nav">

					<h1>update to a better PHoto!
	         </h1>


					
				</div>
	  	</div>
	  </div>
	</div>


<%= render :partial => 'form' %>